<div class="container" style="width: 450px;">
  <h1 style="text-align: center;">Nystrom Builders Admin</h1>
  <br>
</div>
<div class="container" style="width: 300px; padding: 20px; background: #fafafa; border: 1px solid #efefef;">
  <%= simple_form_for @form, url: admin_sessions_path do |f| %>
    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.button :submit, 'Log in', class: 'btn btn-success' %>
  <% end %>
</div>
