<div class="container" style="width: 300px;">
  <h1>Log in</h1>

  <%= simple_form_for @form, url: admin_sessions_path do |f| %>
    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.button :submit, 'Log in' %>
  <% end %>

</div>
