<footer id="footer">
  <div class="fullblock">
    <div class="footer padding50">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h1 class="widget-title">Social Widget</h1>
            <p>Proin  velmi nibh, id ultrices metus.  Dolor set amet lorem ipsum, dolor.</p>
            <ul class="social-list ">
              <li class="twitter" rel="tooltip" title="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
              <li class="facebook" rel="tooltip" title="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
              <li class="dribbble" rel="tooltip" title="dribbble"><a href="#"><i class="icon-dribbble"></i></a></li>
              <li class="rss" rel="tooltip" title="rss"><a href="#"><i class="icon-rss"></i></a></li>
              <li class="linkedin" rel="tooltip" title="linkedin"><a href="#"><i class="icon-linkedin"></i></a></li>
              <li class="skype" rel="tooltip" title="skype"><a href="#"><i class="icon-skype"></i></a></li>
              <li class="youtube" rel="tooltip" title="youtube"><a href="#"><i class="icon-youtube"></i></a></li>
              <li class="vimeo" rel="tooltip" title="vimeo"><a href="#"><i class="icon-vimeo"></i></a></li>
              <li class="flickr" rel="tooltip" title="flickr"><a href="#"><i class="icon-flickr"></i></a></li>
              <li class="github" rel="tooltip" title="github"><a href="#"><i class="icon-github"></i></a></li>
              <li class="gplus" rel="tooltip" title="gplus"><a href="#"><i class="icon-gplus"></i></a></li>
              <li class="pinterest" rel="tooltip" title="pinterest"><a href="#"><i class="icon-pinterest"></i></a></li>
              <li class="tumblr" rel="tooltip" title="tumblr"><a href="#"><i class="icon-tumblr"></i></a></li>
              <li class="lastfm" rel="tooltip" title="lastfm"><a href="#"><i class="icon-lastfm"></i></a></li>
              <li class="instagram" rel="tooltip" title="instagram"><a href="#"><i class="icon-instagram"></i></a></li>
              <li class="reddit" rel="tooltip" title="reddit"><a href="#"><i class="icon-reddit"></i></a></li>
              <li class="yahoo" rel="tooltip" title="yahoo"><a href="#"><i class="icon-yahoo"></i></a></li>
              <li class="forrst" rel="tooltip" title="forrst"><a href="#"><i class="icon-forrst"></i></a></li>
              <li class="digg" rel="tooltip" title="digg"><a href="#"><i class="icon-digg"></i></a></li>
              <li class="odnoklassniki" rel="tooltip" title="odnoklassniki"><a href="#"><i class="icon-odnoklassniki"></i></a></li>
              <li class="yandex-rect" rel="tooltip" title="yandex-rect"><a href="#"><i class="icon-yandex-rect"></i></a></li>
              <li class="behance" rel="tooltip" title="behance"><a href="#"><i class="icon-behance"></i></a></li>
              <li class="google-circles" rel="tooltip" title="google-circles"><a href="#"><i class="icon-google-circles"></i></a></li>
              <li class="vkontakte" rel="tooltip" title="vkontakte"><a href="#"><i class="icon-vkontakte"></i></a></li>
            </ul>
          </div>
          <div class="span3">
            <h1 class="widget-title">From Blog</h1>
            <div class="from-blog">
              <a href="#"><img src="/assets/trash/f1.png" alt="MyPassion" /></a>
              <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
              <span>26 May, 2013</span>
            </div>
            <div class="from-blog">
              <a href="#"><img src="/assets/trash/f2.png" alt="MyPassion" /></a>
              <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
              <span>26 May, 2013</span>
            </div>
            <div class="from-blog">
              <a href="#"><img src="/assets/trash/f3.png" alt="MyPassion" /></a>
              <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
              <span>26 May, 2013</span>
            </div>
          </div>
          <div class="span3">
            <h1 class="widget-title">Flickr Widget</h1>
            <div class="flickrfeed">
              <ul id="basicuse" class="thumbs">
                <li class="hide"></li>
              </ul>
            </div>
          </div>
          <div class="span3">
            <h1 class="widget-title">Contact Widget</h1>
            <div class="contact-widget">
              <i class="icon-home"></i>
              <p>Creative Laboratory 77 New York Avenue, New York, USA 10000</p>
              <div class="clearfix"></div>
              <i class="icon-phone"></i>
              <p>Phone: +453 443 11 23<br /> Fax: +453 443 11 23</p>
              <div class="clearfix"></div>
              <i class="icon-mail-3"></i>
              <p>Email: info@lexon.domain<br /> Web: <a href="#">www.lexon.com</a></p>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>Copyright 2013 <a href="#">Lexon</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
