<header id="header">
  <div class="fullblock">
    <div class="topbar">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="<%= root_path %>">
          <h1 style="display: inline-block;">Nystrom Builders</h1>
          <small>llc</small>
        </a>
        <!-- /Logo -->

        <!-- Nav -->
        <nav id="nav">
          <!-- Main Menu -->
          <ul class="sf-menu">
            <% menu_links.each do |link| %>
              <%= link.render %>
            <% end %>
          </ul>
          <!-- /Main Menu -->

          <!-- Mobile Nav Toggler -->
          <div class="nav-toggle">
            <a href="#"></a>
          </div>
        </nav>
      </div>
      <!-- /Nav -->
    </div>

    <!-- Mobile Menu -->
    <%= render partial: '/shared/mobile_menu' %>
    <!-- /Mobile Menu -->

    <!-- Header Slider -->
    <div class="head-slider">
      &nbsp;
      <div id="contact-us-banner">
        <p>Call us for a quote: 616-293-2488</p>
      </div>
    </div>
    <!-- /Header Slider -->
  </div>
</header>
