<header id="header">
  <div class="fullblock">
    <div class="topbar">
      <div class="container">
        <!-- Logo -->
        <div class="logo">
          <h1>Nystrom Builders</h1>
        </div>
        <!-- /Logo -->

        <!-- Nav -->
        <nav id="nav">
          <!-- Search -->
          <div class="search-include">
            <div class="search-button">
              <a href="#"><i class="icon-search"></i></a>
            </div>
            <div class="popup-search">
              <form action="" method="post">
                <input type="text" value="Search." onblur="if(this.value=='') this.value='Search.';" onfocus="if(this.value=='Search.') this.value='';" class="ft"/>
                <input type="submit" value="" class="fs">
              </form>
            </div>
          </div>
          <!-- /Search -->

          <!-- Main Menu -->
          <ul class="sf-menu">
            <li class="current">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="index.html">Commerical Restoration</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li><a href="about.html">Projects</a></li>
            <li>
              <a href="portfolio-4.html">Contact Us</a>
            </li>
          </ul>
          <!-- /Main Menu -->

          <!-- Mobile Nav Toggler -->
          <div class="nav-toggle">
            <a href="#"></a>
          </div>
        </nav>
      </div>
      <!-- /Nav -->
    </div>

    <!-- Mobile Menu -->
    <%= render partial: '/shared/mobile_menu' %>
    <!-- /Mobile Menu -->

    <!-- Header Slider -->
    <div class="head-slider">
      &nbsp;
    </div>
    <!-- /Header Slider -->
  </div>
</header>
