<div class="container" style="margin-top: 50px;">
  <section style="margin: 50px 0;">
    <h2>Free Estimate</h2>
    <p>
      With our free estimate service we will offer a variety of custom design options budgeted to meet your financial and living
      requirements, with no cost to you. Our estimation process secures a budget that we respect wholeheartedly in order for you to
      meet your vision, needs and wants.
    </p>
  </section>

  <section style="margin: 50px 0;">
    <h2>Construction</h2>
    <p>
      After a budget and design is agreed on we can then proceed to the construction phase. It is at this point that your
      visions shape into reality. We insure this by providing full guidance and project management through the construction process, 
      always making sure you are never kept in the dark during this exciting time.
    </p>
  </section>

  <section style="margin: 50px 0;">
    <h2>Completion</h2>
    <p>
      Our attention to detail with our work puts us over the edge with our competitors, not only do we make sure you are satisfied;
      no corners our cut with us to save time or money. When your project is completed you will always want Nystrom Builders to do
      future work for you and also any of your friends/family that ask who remodeled your home.
    </p>
  </section>
</div>
