<div class="fullblock blockwhite">
  <div class="container">
    <div class="service_block_1">
      <div class="row service_blocks_wrap_5 home-service">
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('cog') %>
          </div>
          <h5>New Way of Vision</h5>
          <p>Sed eget tellus sapien. Proinupmoso etiamgo velmis dolor amet promo elit.</p>
          <a href="#" class="btn-theme">Read More</a>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('thumbs-up') %>
          </div>
          <h5>Blissful Layout Options</h5>
          <p>Sed eget tellus sapien. Proinupmoso etiamgo velmis dolor amet promo elit.</p>
          <a href="#" class="btn-theme">Read More</a>
        </div>
        <div class="span4">
          <div class="icon-wrap-5">
            <%= fa_icon('clock-o') %>
          </div>
          <h5>A real Time-Saver</h5>
          <p>Sed eget tellus sapien. Proinupmoso etiamgo velmis dolor amet promo elit.</p>
          <a href="#" class="btn-theme">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Service -->
<!-- Portfolio -->
<div class="fullblock blockgrey padding50">
  <div class="container">
    <div class="blog_block_1">
      <div class="entrytitle">
        <h4>Showcase of Our Projects</h4>
        <p>We Create premium designs, mobile &amp; digital campaigns </p>
      </div>
    </div>
  </div>
  <div class="portfolio_blocks_wrap" id="carousel">
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><%= fa_icon('cog') %></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b6.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b2.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b3.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b7.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b9.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/b1.jpg" alt="MyPassion" /></a>
      </div>
      <div class="title_holder">
        <h1><a href="#">Amazing Title Goes Here</a></h1>
        <span class="span_like"><a href="#"><i class="icon-heart"></i>26668</a></span>
      </div>
    </div>
  </div>
  <div class="carousel_navigations">
    <ul>
      <li><a id="car_prev" href="#"></a></li>
      <li><a id="car_next" href="#"></a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <div class="row video_holder">
      <div class="span6">
        <iframe src="http://player.vimeo.com/video/27260633?byline=0&amp;color=ffffff" width="100%" height="320px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <div class="span6">
        <h1 class="upper-title">Like What You See?</h1>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Quisque pretium suscipit faucibus. Fusce vestibulum mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <br/>
        <p>In sodales dapibus dui, sed iaculis metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus quam id turpis dignissim rutrum. Phase ellus placerat nunc in nulla pretium pellen tesque. Aliquam erat volutpat. In nec enim dui, in hendrerit enim.</p>
        <br/><br/>
        <p><a href="#" class="btn-theme btn-theme-large"><i class="icon-login-1 left"></i>View More</a></p>
      </div>
    </div>
  </div>
</div>
<!-- /Portfolio -->
<div class="fullblock padding50">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="tabs">
          <ul>
            <li><a href="#tabs1">Tab 1</a></li>
            <li><a href="#tabs2">Tab 2</a></li>
            <li><a href="#tabs3">Tab 3</a></li>
            <li><a href="#tabs4">Tab 4</a></li>
          </ul>
          <div id="tabs1">
            <img src="/assets/trash/tab2.png" alt="MyPassion" class="alignleft"/>
            <p>Proin neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere. <br /><br />Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere. </p>
            <div class="clearfix"></div>
          </div>
          <div id="tabs2">
            <p>Neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere.</p>
            <p>Dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
          </div>
          <div id="tabs3">
            <p>Dark proin neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere.</p>
            <p> Green proin neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
          </div>
          <div id="tabs4">
            <p>Proin neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere.</p>
            <p>Proin neque dui, pretium quis fringilla ut, sodales sed metus. Proin tincidu vestibulum tempor. In scelerisque nibh tempus felis dictum eu auctor mauris consectetur. Vestibulum tempor feugiat est in posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
          </div>
        </div>
      </div>
      <div class="span6">
        <h1 class="upper-title">Some Of Our Results</h1>
        <ul class="skills">
          <li>
            <div class="skill-name">Adobe Photoshop</div>
            <div class="skill-percent-back" data-value="80">
              <div class="skill-percent"><span>80%</span></div>
            </div>
          </li>
          <li>
            <div class="skill-name">Adobe Illustrator</div>
            <div class="skill-percent-back" data-value="70">
              <div class="skill-percent"><span>70%</span></div>
            </div>
          </li>
          <li>
            <div class="skill-name">Adobe Indesign</div>
            <div class="skill-percent-back" data-value="50">
              <div class="skill-percent"><span>50%</span></div>
            </div>
          </li>
          <li>
            <div class="skill-name">Adobe After Effect</div>
            <div class="skill-percent-back" data-value="75">
              <div class="skill-percent"><span>75%</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Parallax -->
<div class="fullblock">
  <div class="parallax-home">
    <div class="container">
      <ul class="service-blocks-wrap-2">
        <li>
          <h4>Strong Foundations</h4>
          <div class="icon-wrap-2 theme-color">
            <i class="icon-rocket"></i>
          </div>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
          <div class="separotor-1"><span></span></div>
          <div class="button-holder"><a href="#" class="btn-theme btn-theme-large">Read More</a></div>
        </li>
        <li>
          <h4>Proffesional Training</h4>
          <div class="icon-wrap-2">
            <i class="icon-megaphone"></i>
          </div>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
          <div class="separotor-1"><span></span></div>
          <div class="button-holder"><a href="#" class="btn-theme btn-theme-large btn-grey">Read More</a></div>
        </li>
        <li>
          <h4>Software Development</h4>
          <div class="icon-wrap-2 theme-color">
            <i class="icon-leaf"></i>
          </div>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
          <div class="separotor-1"><span></span></div>
          <div class="button-holder"><a href="#" class="btn-theme btn-theme-large">Read More</a></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Parallax -->
<!-- Blog -->
<div class="fullblock padding50">
  <div class="container">
    <div class="blog_block_1">
      <div class="entrytitle">
        <h4>From Our Blog</h4>
        <p>We Create premium designs, mobile & digital campaigns </p>
      </div>
    </div>
  </div>
  <div class="blog_blocks_wrap" id="carousel-2">
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p1.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-picture"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p2.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-picture-1"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p3.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-note-beamed"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p4.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-video"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p5.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-picture"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
    <div class="item">
      <div class="image-wrap">
        <div class="maskImage">
          <a href="#"><span><i class="icon-link-1"></i></span></a>
        </div>
        <a href="#"><img src="/assets/trash/p6.png" alt="MyPassion" /></a>
      </div>
      <div class="desc">
        <h5><a href="#">Amazing Title Goes Here</a></h5>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Vivamus at tortor at est mattis aliquam non id est. Fuisque pretium suscipit faucibus. Fusce vestibul mollis interdum. </p>
      </div>
      <div class="title_holder_2">
        <span class="post-type-icon"><a href="#"><i class="icon-picture-1"></i></a></span>
        <span class="post-date"><a href="#"><i class="icon-clock"></i>02 June 2013</a></span>
        <span class="post-comm"><a href="#"><i class="icon-chat-1"></i>203</a></span>
        <span class="like-2"><a href="#"><i class="icon-heart"></i>26</a></span>
      </div>
    </div>
  </div>
  <div class="carousel_navigations">
    <ul>
      <li><a id="car_prev_2" href="#"></a></li>
      <li><a id="car_next_2" href="#"></a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<!-- /Blog -->
<!-- Pricing Tables -->
<div class="fullblock padding50 blockgrey">
  <div class="container">
    <div class="entrytitle">
      <h4>Feature List</h4>
      <p>We Create premium designs, mobile & digital campaigns</p>
    </div>
    <div class="row feature-list">
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-macstore"></i>
          </div>
          <h5>Blissful Layout Options</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-steam"></i>
          </div>
          <h5>Beautifully Simplistic</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-umbrella"></i>
          </div>
          <h5>Free Support &amp; Updates</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-flag"></i>
          </div>
          <h5>Fully Responsive</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
      <div class="span4">
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-feather"></i>
          </div>
          <h5>Multiple layout options</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
        <div class="feature-box">
          <div class="icon-wrap">
            <i class="icon-group"></i>
          </div>
          <h5>700+ Retina Ready Icons</h5>
          <p>Sed auctor libero augue, a faucibus turpis ultrices libero augue posuere faucibus turpis. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Pricing Tables -->
