<div class="fullblock blockwhite">
  <h2>Check Out Our Projects</h2>
  <section class="container">
    <div class="row">
      <% @project.photos.each do |photo| %>
        <div class="span4">
        </div>
      <% end %>
    </div>
  </section>
