<div class="container" style="margin-top: 20px;">
  <div class="fullblock blockwhite">
    <h2>Project - <%= @project.name %></h2>
    <section class="container">
      <% if @project.summary.present? %>
        <div class="row" style="margin-top: 30px;">
          <p class="span8">
            <%= @project.summary %>
          </p>
        </div>
      <% end %>

      <% if @project.photos.any? %>
        <% @project.photos.each_slice(4) do |slice| %>
          <div class="row" style="margin-top: 30px;">
            <% slice.each do |photo| %>
              <div class="span3">
                <%= image_tag photo.photo.url(:small) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="span12">
          <p>
            There are no photos for this project
          </p>
        </div>
      <% end %>
    </section>
  </div>
</div>
